.main__header {
  position: absolute;
  z-index: 5;
  top: 22px;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

.header__address {
  display: flex;
  align-items: center;
  margin-right: 120px;
  font-family: "CeraRoundPro-Regular", sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: #ffffff;

  & img {
    margin-right: 17px;
  }
}

.header__phone {
  display: flex;
  align-items: center;
  font-family: "CeraRoundPro-Regular", sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: #ffffff;
  text-decoration: none;

  & img {
    margin-right: 17px;
  }
}

.main__footer {
  position: absolute;
  z-index: 2;
  bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__copyright {
  font-family: "CeraRoundPro-Thin", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #ffffff;
}

.main__developer {
  font-family: "CeraRoundPro-Thin", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #ffffff;
  position: relative;

  & a {
    color: #fff;
  }
}

.main__header-inner-wrapper {
  display: flex;
  align-items: center;
  margin-top: -35px;
}

.main__image img {
  z-index: 3;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.main__image-img {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.main__img-overlays img {
  display: block;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  object-fit: cover;
}

.main__img-title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: baseline;
  margin-top: -150px;
  visibility: hidden;
  opacity: 0;
}

.level-number {
  font-family: "RussoOne", sans-serif;
  font-size: 194px;
  line-height: 25px;
  color: #fff;
}

.level-title {
  font-family: "RussoOne", sans-serif;
  font-size: 38px;
  line-height: 25px;
  color: #ffb709;
}

.level-divider {
  font-family: "CeraRoundPro-Light", sans-serif;
  font-size: 35px;
  line-height: 25px;
  color: #ffffff;
  margin-left: 17px;
  margin-right: 17px;
}

.level-places-amount {
  font-family: "CeraRoundPro-Light", sans-serif;
  font-size: 55px;
  line-height: 25px;
  color: #ffffff;
  margin-right: 12px;
}

.level-places-amount-title {
  font-family: "CeraRoundPro-Light", sans-serif;
  font-size: 27px;
  line-height: 25px;
  color: #ffb709;
}
