.plan {
  width: 100%;
  padding-left: 29px;
  padding-right: 45px;
  padding-top: 45px;
  box-sizing: border-box;
  position: relative;
}

.plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.plan__header-to-main {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  color: #2e2e2e;
  text-decoration: none;

  img {
    margin-right: 13px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.plan__header-inner-wrapper {
  display: flex;
  align-items: center;
}

.plan__header-address {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: #2e2e2e;
  margin-right: 120px;

  img {
    margin-right: 17px;
  }
}

.plan__header-phone {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: #2e2e2e;
  text-decoration: none;

  img {
    margin-right: 17px;
  }
}

.floors-changer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 13vh;
  right: 45px;
}

.floors-changer__title {
  text-transform: uppercase;
  font-family: "CeraRoundPro-Light",sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  color: #2e2e2e;
  display: block;
  opacity: 0.62;
  margin-bottom: 35px;
}

.floors-changer__item {
  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 30px;
  line-height: 1.2em;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;

  &:hover,
  &.active {
    border: 2px solid #ffb709;
    color: #ffb709;
    //font-family: "CeraRoundPro-Bold",sans-serif;
  }
}

.plan__footer {
  position: absolute;
  bottom: 20px;
  right: 45px;
}

.plan__footer-developer {
  font-family: CeraRoundPro-Thin,sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #8e8e8e;

  a {
    color: #8e8e8e;
    font-family: "CeraRoundPro-Thin",sans-serif;
  }
}

.plan__image {
  width: 90%;
}

.plan__image svg {
  position: relative;
  z-index: 2;
  background: transparent;
}

.plan__image svg > .st0:hover {
  fill: #69bc48;

  & + .st1 {
    fill: #69bc48;
  }

  & + .st1 + .st3 {
    display: none;
  }
}

#custom_smog {
  width: 100%;
  height: 100%;
  opacity: .71;
  display: none;
}

.rect-temp.st0 {
  cursor: pointer;
  fill: #69bc48;
  display: block;
  //pointer-events: none;
}

.plcpu-short {
  width: 340px;
  height: 323px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.plcpu-short__title {
  font-family: "CeraRoundPro-Bold",sans-serif;
  font-size: 51px;
  line-height: 60px;
  color: #ffffff;
  display: block;
  margin-bottom: 30px;
}

.plcpu-short__area-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}

.plcpu-short__area1,
.plcpu-short__area2 {
  display: flex;
  flex-direction: column;
}

.plcpu-short__area1-top,
.plcpu-short__area2-top,
.plcpu-short-price-title {
  font-family: "CeraRoundPro-Light",sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}

.plcpu-short__area1-bottom,
.plcpu-short__area2-bottom,
.plcpu-short-price-number {
  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 65px;
  line-height: 80px;
  color: #ffffff;
}

.plcpu-short__price-wrapper {
  display: flex;
  flex-direction: column;
}
