.plan {
  width: 100%;
  padding-left: 29px;
  padding-right: 45px;
  padding-top: 45px;
  box-sizing: border-box;
  position: relative;
}

.plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.plan__header-to-main {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  color: #2e2e2e;
  text-decoration: none;

  img {
    margin-right: 13px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.plan__header-inner-wrapper {
  display: flex;
  align-items: center;
}

.plan__header-address {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: #2e2e2e;
  margin-right: 120px;

  img {
    margin-right: 17px;
  }
}

.plan__header-phone {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: #2e2e2e;
  text-decoration: none;

  img {
    margin-right: 17px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.floors-changer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 13vh;
  right: 45px;
}

.floors-changer__title {
  text-transform: uppercase;
  font-family: "CeraRoundPro-Light",sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  color: #2e2e2e;
  display: block;
  opacity: 0.62;
  margin-bottom: 35px;
}

.floors-changer__item {
  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 30px;
  line-height: 1.2em;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;

  &:hover,
  &.active {
    border: 2px solid #ffb709;
    color: #ffb709;
    //font-family: "CeraRoundPro-Bold",sans-serif;
  }
}

.plan__footer {
  position: absolute;
  bottom: 20px;
  right: 45px;
}

.plan__footer-developer {
  font-family: CeraRoundPro-Thin,sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #8e8e8e;

  a {
    color: #8e8e8e;
    font-family: "CeraRoundPro-Thin",sans-serif;
  }
}

.plan__image {
  width: 90%;
}

.plan__image svg {
  position: relative;
  z-index: 2;
  background: transparent;
}

.plan__image svg > .st0-st0:hover {
  fill: #69bc48;

  & + .st1 {
    fill: #69bc48;
  }

  & + .st1 + .st3 {
    display: none;
  }
}

#custom_smog {
  width: 100%;
  height: 100%;
  opacity: .71;
  display: none;
}

.rect-temp.st0-st0 {
  cursor: pointer;
  fill: #69bc48;
  display: block;
  //pointer-events: none;
}

.plcpu-short {
  width: 340px;
  height: 323px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.plcpu-short__title {
  font-family: "CeraRoundPro-Bold",sans-serif;
  font-size: 51px;
  line-height: 60px;
  color: #ffffff;
  display: block;
  margin-bottom: 30px;
}

.plcpu-short__area-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}

.plcpu-short__area1,
.plcpu-short__area2 {
  display: flex;
  flex-direction: column;
}

.plcpu-short__area1-top,
.plcpu-short__area2-top,
.plcpu-short-price-title {
  font-family: "CeraRoundPro-Light",sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}

.plcpu-short__area1-bottom,
.plcpu-short__area2-bottom,
.plcpu-short-price-number {
  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 65px;
  line-height: 80px;
  color: #ffffff;

  span {
    font-size: 39px;
  }
}

.plcpu-short__price-wrapper {
  display: flex;
  flex-direction: column;
}


.plcpu-full {
  position: absolute;
  width: 1330px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

.plcpu-full__first {
  width: 100%;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 2px solid #69bc48;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.plcpu-full__first-left {
  width: 56%;
  padding-right: 140px;
  box-sizing: border-box;
  border-right: 1px solid #ced6c4;
}

.plcpu-full__first-title {
  display: block;
  margin-bottom: 40px;
  font-family: "CeraRoundPro-Bold",sans-serif;
  font-size: 43px;
  line-height: 1.2em;
  color: #69bc48;
}

.plcpu-full__first-sizes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.plcpu-full__first-sizes-item,
.plcpu-full__first-price {
  display: flex;
  flex-direction: column;
}

.plcpu-full__first-sizes-item-title,
.plcpu-full__first-price-title {
  font-family: "CeraRoundPro-Light",sans-serif;
  font-size: 19px;
  line-height: 1.2em;
  color: #2e2e2e;
  opacity: 0.62;
}

.plcpu-full__first-sizes-item-number,
.plcpu-full__first-price-number {
  font-family: "CeraRoundPro-Regular",sans-serif;
  font-size: 65px;
  line-height: 1.2em;
  color: #2e2e2e;
}

.plcpu-full__first-price {
  margin-bottom: 70px;
}

.plcpu-full__first-button {
  width: 270px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "CeraRoundPro-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  color: #fff;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background: #69bc48;
  overflow: hidden;
  position: relative;
  z-index: 1;
  outline: none;

  &::before {
    z-index: 2;
    box-sizing: border-box;

    -o-transform: scale(0);
    -o-transition-duration: .3s;
    -o-transition-duration: .35s;
    -o-transition-property: background-color,-o-transform;
    -o-transition-timing-function: ease;
    -webkit-transform: scale(0);
    -webkit-transition-duration: .3s;
    -webkit-transition-duration: .35s;
    -webkit-transition-property: background-color,-webkit-transform;
    -webkit-transition-timing-function: ease;
    background-color: #81da58;
    border-radius: 100%;
    content: "";
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    position: absolute;
    top: 110%;
    transform: scale(0);
    transition-duration: .3s;
    transition-duration: .35s;
    transition-property: background-color,-webkit-transform;
    transition-property: transform,background-color;
    transition-property: transform,background-color,-webkit-transform,-o-transform;
    transition-timing-function: ease;
    width: 42px;

    height: 44px;
    margin-left: -22px;
    margin-top: -22px;
    width: 44px;
  }

  &:hover::before {
    -o-transform: scale(8);
    -o-transition-duration: .7s;
    -webkit-transform: scale(8);
    -webkit-transition-duration: .7s;
    background-color: #81da58;
    transform: scale(8);
    transition-duration: .7s;
  }

  &:hover {
    transition-duration: .2s;
  }
}

.plcpu-full__first-button-text {
  z-index: 3;
}

.plcpu-full__first-right {
  display: flex;
  padding-left: 130px;
  position: relative;
  box-sizing: border-box;
  width: 44%;
}

.plcpu-full__first-right-first-block {
  display: flex;
  align-items: flex-end;
  margin-right: 60px;
}

.plcpu-full__first-right-first-block-number {
  position: absolute;
  right: 425px;
  top: 50%;
}

.plcpu-full__first-right-first-block-img {
  margin-bottom: 35px;
}

.plcpu-full__first-right-second-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plcpu-full__first-right-first-block-number,
.plcpu-full__first-right-second-block-number {
  font-family: "CeraRoundPro-Regular", sans-serif;
  font-size: 55px;
  line-height: 1.2em;
  color: #2e2e2e;

  & span {
    font-size: 36px;
  }
}

.plcpu-full__close {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #69bc48;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: -40px;
  top: -40px;
}

.plcpu-full__second {
  width: 100%;
  height: 288px;
  box-sizing: border-box;
  background: url('../img/popup-bg.png');
  background-size: cover;
  border-radius: 30px;
  padding: 55px;
}

.plcpu-full__second-title {
  display: block;
  margin-bottom: 45px;
  font-family: "CeraRoundPro-Bold", sans-serif;
  font-size: 43px;
  line-height: 1.2em;
  color: #ffffff;
}

.plcpu-full__second-button {
  width: 270px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "CeraRoundPro-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  color: #69bc48;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  outline: none;

  -moz-osx-font-smoothing: inherit;
  -o-transition-duration: .3s;
  -o-transition-duration: .2s;
  -o-transition-property: color,background-color,border-color;
  -o-transition-timing-function: ease;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -webkit-transition-duration: .3s;
  -webkit-transition-duration: .2s;
  -webkit-transition-property: color,background-color,border-color;
  -webkit-transition-timing-function: ease;
  transition-duration: .3s;
  transition-duration: .2s;
  transition-property: color,background-color,border-color;
  transition-timing-function: ease;

  &::before {
    z-index: 2;
    box-sizing: border-box;

    -o-transform: scale(0);
    -o-transition-duration: .3s;
    -o-transition-duration: .35s;
    -o-transition-property: background-color,-o-transform;
    -o-transition-timing-function: ease;
    -webkit-transform: scale(0);
    -webkit-transition-duration: .3s;
    -webkit-transition-duration: .35s;
    -webkit-transition-property: background-color,-webkit-transform;
    -webkit-transition-timing-function: ease;
    background-color: #81da58;
    border-radius: 100%;
    content: "";
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    position: absolute;
    top: 110%;
    transform: scale(0);
    transition-duration: .3s;
    transition-duration: .35s;
    transition-property: background-color,-webkit-transform;
    transition-property: transform,background-color;
    transition-property: transform,background-color,-webkit-transform,-o-transform;
    transition-timing-function: ease;
    width: 42px;

    height: 44px;
    margin-left: -22px;
    margin-top: -22px;
    width: 44px;
  }

  &:hover::before {
    -o-transform: scale(8);
    -o-transition-duration: .7s;
    -webkit-transform: scale(8);
    -webkit-transition-duration: .7s;
    background-color: #81da58;
    transform: scale(8);
    transition-duration: .7s;
  }

  &:hover {
    transition-duration: .2s;
  }

  &:hover .plcpu-full__second-button-text {
    color: #fff;
    z-index: 3;
  }
}

.contact-form {
  position: absolute;
  width: 655px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: none;
}

.contact-from__top {
  background-color: #69bc48;
  height: 135px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-from__title {
  font-family: "CeraRoundPro-Bold", sans-serif;
  font-size: 37px;
  line-height: 1.2em;
  color: #ffffff;
  display: block;
  text-align: center;
}

.contact-form__close {
  position: absolute;
  width: 54px;
  height: 54px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 11px;
  right: 11px;
  cursor: pointer;
}

.contact-from__form {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;
  border: 2px solid #69bc48;
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #fff;
}

.contact-from__label {
  padding-top: 40px;
  display: block;
  font-family: "CeraRoundPro-Light", sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #2e2e2e;
  opacity: 0.62;
}

.contact-from__input {
  font-family: "CeraRoundPro-Light", sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #2e2e2e;

  border: 2px solid #69bc48;
  border-radius: 32px;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 12px;
  display: block;
}

#phone {
  margin-bottom: 40px;
}

/* Customize the label (the container) */
.contact-from__agreement {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-family: "CeraRoundPro-Light", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #cacaca;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 40px;
}

/* Hide the browser's default checkbox */
.contact-from__agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: 2px solid #eaeaea;
  box-sizing: border-box;
  background: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contact-from__agreement input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contact-from__agreement .checkmark:after {
  background:transparent url("../img/checkbox.png") no-repeat center;
  width: 100%;
  height: 100%;
}

.contact-from__submit {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "CeraRoundPro-Medium", sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  color: #ffffff;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background: #69bc48;
  overflow: hidden;
  position: relative;
  z-index: 1;
  outline: none;

  -moz-osx-font-smoothing: inherit;
  -o-transition-duration: .3s;
  -o-transition-duration: .2s;
  -o-transition-property: color,background-color,border-color;
  -o-transition-timing-function: ease;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -webkit-transition-duration: .3s;
  -webkit-transition-duration: .2s;
  -webkit-transition-property: color,background-color,border-color;
  -webkit-transition-timing-function: ease;
  transition-duration: .3s;
  transition-duration: .2s;
  transition-property: color,background-color,border-color;
  transition-timing-function: ease;

  &::before {
    z-index: 2;
    box-sizing: border-box;

    -o-transform: scale(0);
    -o-transition-duration: .3s;
    -o-transition-duration: .35s;
    -o-transition-property: background-color,-o-transform;
    -o-transition-timing-function: ease;
    -webkit-transform: scale(0);
    -webkit-transition-duration: .3s;
    -webkit-transition-duration: .35s;
    -webkit-transition-property: background-color,-webkit-transform;
    -webkit-transition-timing-function: ease;
    background-color: #81da58;
    border-radius: 100%;
    content: "";
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    position: absolute;
    top: 110%;
    transform: scale(0);
    transition-duration: .3s;
    transition-duration: .35s;
    transition-property: background-color,-webkit-transform;
    transition-property: transform,background-color;
    transition-property: transform,background-color,-webkit-transform,-o-transform;
    transition-timing-function: ease;
    width: 42px;

    height: 62px;
    margin-left: -31px;
    margin-top: -31px;
    width: 62px;
  }

  &:hover::before {
    -o-transform: scale(8);
    -o-transition-duration: .7s;
    -webkit-transform: scale(8);
    -webkit-transition-duration: .7s;
    background-color: #81da58;
    transform: scale(8);
    transition-duration: .7s;
  }

  &:hover {
    transition-duration: .2s;
  }

  &:hover span {
    z-index: 3;
  }
}

.plan__image-floor {
  display: none;

  &.active {
    display: block;
  }
}